<div class="container">
<h1>All available Restaurants</h1>
<ul class="list-group list-group-flush">
  <% @restaurants.each do | restaurant | %>
  <%= link_to restaurant_path(restaurant) do %>
  <li class="list-group-item"><%= restaurant.name %> | <%= restaurant.address %> <span class="badge badge-primary badge-pill"><%= restaurant.category %></span></li>
    <% end %>
  <% end %>
</ul>
</div>
